* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$blue: #4b75dd;
$light-blue: #b5c9ff;
$input-blue: #b5c9ff50;

$dark-blue: #1554f0;
$white: #fafafa;

body {
  background-color: $blue;
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 28px;
  font-weight: 400;
}

p {
  font-size: 16px;
}

input {
  border: 2px solid $light-blue;
  background-color: $input-blue;
  color: $blue;
  height: 67px;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 22px;
  border-radius: 20px;
  padding-left: 20px;
  width: 100%;
}

button {
  border-radius: 20px;
  border: none;
  color: $blue;
  cursor: pointer;
  font-family: "Kumbh Sans", sans-serif;
  padding: 15px;
}

main {
  background-color: $white;
  border-radius: 30px;
  display: flex;
  gap: 50px;
  margin: 0 auto;
  padding: 40px;
  max-width: 810px;
  min-width: 700px;
  width: 55%;


}

.userInputs {
  color: $blue;
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;


  input {
    margin-top: 10px;
    
  }
}

.tipBtnGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-top: 10px;
  width: 100%;

  button {
    background-color: $input-blue;
    border: 2px solid $light-blue;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    width: 100%;

    &:hover {
      background-color: $blue;
      border: none;
      color: $white;
    }
  }
}

.formCalculations {
  background-color: $blue;
  border-radius: 30px;
  color: $white;
  display: flex;
  flex-direction: column;
  flex: 1.3;
  justify-content: space-between;
  padding: 25px 35px;
}

.totalsRowWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.totalsRow {
  display: flex;
  justify-content: space-between;

  p {
    color: $light-blue;
    font-size: 18px;
  }
}

#resetButton {
  border-radius: 50px;
}

@media (max-width: 830px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 24px;
    font-weight: 400;
  }

  p {
    font-size: 14px;
  }

  main {
    flex-direction: column;
    min-width: 250px;
  }

  #resetButton {
    margin-top: 20px;
  }
}
